<form>
    <h5>Lien associé</h5>
    <div class="form-group">
        <input type="text" class="form-control"
               ng-change="btnEditorCtrl.changes()"
               ng-model="btnEditorCtrl.block.attributes.btn.link" placeholder="http://monsite.com"/>
    </div>
    <h5>Texte</h5>
    <div class="form-group">
        <input type="text" class="form-control txt"
               ng-change="btnEditorCtrl.changes()"
               ng-model="btnEditorCtrl.block.attributes.btn.txt" placeholder="Cliquez ici pour aller sur monsite.com"/>
    </div>
</form>