<div id="liveEditor">
    <table class="table">
        <thead droppable>
            <tr class="dropzone">
                <td><span class="content">Header</span></td>
            </tr>
        </thead>
        <tbody>
            <tr id="body">
                <td>
                    <table>
                        <tbody sortable droppable>
                            <tr class="dropzone dropzonebody" ng-repeat="b in [1, 2, 3, 4, 5] track by $index">
                                <td>
                                    <span class="content">Déposer du contenu ici !</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        <tbody droppable>
            <tr class="dropzone">
                <td><span class="content">Footer</span></td>
            </tr>
        </tbody>
    </table>
</div>