<div id="mailOutils2">
    <h2 ng-show="modeEdition" class="text-center">Modification du block {{ spCtrl.currentBlock.type }}</h2>

    <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
        <a href="#list" class="btn btn-default active" role="button" data-toggle="tab">
            Content
        </a>
        <a href="#settings" class="btn btn-default" role="button" data-toggle="tab">
            <span ng-show="modeEdition">Style</span>
            <span ng-show="!modeEdition">Design</span>
        </a>
    </div>

    <div class="tab-content" id="mailOutils3">
        <div id="list" role="tabpanel" class="tab-pane scrollable active">
            <br/>
            <div ng-include="modeEdition ? 'editionMode.html' : 'chooseBlock.html'"></div>
        </div>
        <div id="settings" role="tabpanel" class="tab-pane scrollable">
            <br/>
            <style-picker block="spCtrl.currentBlock"></style-picker>
        </div>
    </div>

    <div>
        <button ng-show="modeEdition"  type="button" class="btn btn-default" ng-click="spCtrl.saveAndClose()">Valider et fermer</button>
        <button type="button" ng-click="vm.preview()" class="btn btn-default">
            <span class="glyphicon glyphicon-export"></span>
            Prévisualiser
        </button>
        <button ng-show="!modeEdition" type="button" ng-click="spCtrl.send()" class="btn btn-default">
            <span class="glyphicon glyphicon-send"></span>
            Programmer
        </button>
        <button ng-show="!modeEdition" ng-click="spCtrl.addBlock()" class="btn btn-default btn-lg pull-right">
            <span class="glyphicon glyphicon-plus"></span>
            Ajouter un block
        </button>
    </div>
</div>

<script type="text/ng-template" id="editionMode.html">
    <divider-editor  ng-if="spCtrl.currentBlock.type === 'divider'" block="spCtrl.currentBlock"></divider-editor>
    <text-editor ng-if="spCtrl.currentBlock.type == 'text'" block="spCtrl.currentBlock"></text-editor>
    <image-picker ng-if="spCtrl.currentBlock.type == 'file'"  block="spCtrl.currentBlock"></image-picker>
    <button-editor ng-if="spCtrl.currentBlock.type == 'button'" block="spCtrl.currentBlock"></button-editor>
    <link-editor ng-if="spCtrl.currentBlock.type == 'unsub' || spCtrl.currentBlock.type == 'online'" block="spCtrl.currentBlock"></link-editor>
    <div ng-if="spCtrl.currentBlock.type == 'double' || spCtrl.currentBlock.type == 'footer'">
        <accordion>
            <accordion-group ng-repeat="cell in spCtrl.currentBlock.cells track by $index"
                    ng-switch on="cell.type"
                    heading="Section #{{$index + 1}}">
                <text-editor ng-switch-when="text" block="cell"></text-editor>
                <image-picker ng-switch-when="file" block="cell"></image-picker>
                <block-social-editor ng-switch-when="social" block="cell"></block-social-editor>
            </accordion-group>
        </accordion>
    </div>
</script>
<script type="text/ng-template" id="chooseBlock.html">
    <br/>
    <ul class="settings-panel list-inline">
        <li ng-repeat="block in ::availableBlocks"
            draggable
            data-type="{{ block.type }}"
            class="draggable btn btn-default btn-lg">
              <span>
                <span class="glyphicon glyphicon-{{block.icons[0]}}"></span>
                <span ng-if="block.icons.length > 1" class="glyphicon glyphicon-{{block.icons[1]}}"></span>
              </span>
            <br/>
            <span class="small">{{block.text}}</span>
        </li>
    </ul>
</script>
<script type="text/ng-template" id="modalPreview.html">
    <div class="modal-header">
        <h3 class="modal-title">Prévisualisation du template</h3>
    </div>
    <div class="modal-body" ng-style="style.background" id="preview">
        <table ng-style="style.table" class="emailCompo" id="emailTemplate1">
            <tr ng-repeat="block in preview track by $index"
                ng-class="{'mailFooter': block.type === 'footer', 'mailHr': block.type === 'divider'}"
                ng-style="block.attributes">
                <td ng-class="{'emailImg': block.type === 'file',
                    'mailSocial': block.type === 'social',
                    'mailLogo': block.type === 'text'}"
                    ng-style="block.attributes">
                    <div ng-bind-html="block.content | sanitize"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="exit()">Revenir</button>
    </div>
</script>

