<accordion>
    <accordion-group heading="Page" ng-if="!stylePickerCtrl.displayGlobalStyles">
        <h5>Couleur de fond</h5>
        <div class="form-group">
            <input type="color" class="form-control" ng-change="stylePickerCtrl.changeBackground()" ng-model="stylePickerCtrl.params.background.bgColor" id="backgroundColor">
        </div>
        <h5>Bordures</h5>
        <div class="form-group">
            <div class="form-inline">
                <select id="marginBorder" class="form-control form-sm"
                        ng-change="stylePickerCtrl.changeBackground()"
                        ng-model="stylePickerCtrl.params.background.borderType"
                        ng-options="c.text for c in stylePickerCtrl.marginType track by c.type"></select>
                <select class="form-control form-small"
                        ng-change="stylePickerCtrl.changeBackground()"
                        ng-model="stylePickerCtrl.params.background.borderSize"
                        ng-options="c.size for c in stylePickerCtrl.marginSize"></select>

               <input type="color" class="form-control form-small" ng-change="stylePickerCtrl.changeBackground()" ng-model="stylePickerCtrl.params.background.borderColor" placeholder="Couleur">
            </div>
        </div>
    </accordion-group>
    <accordion-group heading="Blocs">
        <form id="background">
            <h5>Fond</h5>
            <div class="form-group">
                Transparent
                <input type="checkbox" ng-click="stylePickerCtrl.setToTransparent()"/>
            </div>
            <h5>Couleur de fond</h5>
            <div class="form-group" id="border">
                <input type="color" ng-model="stylePickerCtrl.block.metaStyle.background"/>
            </div>
        </form>
    </accordion-group>
    <accordion-group heading="Bloc double" ng-show="stylePickerCtrl.block.type === 'double'">
        <h5>Layout</h5>
        <div class="form-group">
            <select id="layoutDouble" class="form-control form-sm"
                    ng-change="stylePickerCtrl.changeLayout()"
                    ng-model="stylePickerCtrl.params.layout.blockDouble"
                    ng-options="c.layout for c in stylePickerCtrl.layoutDouble track by c.value"></select>
        </div>
    </accordion-group>
    <accordion-group heading="Titres">
        <form>
            <div class="form-group">
                <div class="form-inline">
                    <label for="textColorTitle">Couleur du texte</label>
                    <input id="textColorTitle" class="form-control form-small title"  ng-change="stylePickerCtrl.changeTitle()" ng-model="stylePickerCtrl.params.title.color" type="color" />

                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label for="fontFamilyTitle">Police</label>
                    <select id="fontFamilyTitle" class="form-control form-sm" ng-change="stylePickerCtrl.changeTitle()" ng-model="stylePickerCtrl.params.title.fontFamily" >
                        <option ng-repeat="f in stylePickerCtrl.fonts" value="{{f.text}}">{{f.text}}</option>
                    </select>
                    <label>Taille</label>
                    <select class="form-control form-sm" ng-change="stylePickerCtrl.changeTitle()" ng-model="stylePickerCtrl.params.title.fontSize" >
                        <option ng-repeat="f in stylePickerCtrl.sizeTitle" value="{{f.size}}">{{f.size}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label>Epaisseur</label>
                    <select class="form-control form-sm" ng-change="stylePickerCtrl.changeTitle()" ng-model="stylePickerCtrl.params.title.fontWeight">
                        <option value="normal">Normal</option>
                        <option value="bold">Gras</option>
                    </select>
                    <label>Interligne</label>
                    <select class="form-control form-sm" ng-change="stylePickerCtrl.changeTitle()" ng-model="stylePickerCtrl.params.title.lineHeight">
                        <option value="0.85">Petit</option>
                        <option value="1">Normal</option>
                        <option value="2">Grand</option>
                    </select>
                </div>
            </div>
        </form>
    </accordion-group>
    <accordion-group heading="Textes">
        <form id="paragraphs">
            <div class="form-group" >
                <label for="textColor">Couleur de texte</label>
                <input type="color" class="form-control" ng-change="stylePickerCtrl.changeParagraph()" id="textColor"
                       ng-model="stylePickerCtrl.params.paragraph.color">
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label>Police</label>
                    <select class="form-control form-sm" ng-change="stylePickerCtrl.changeParagraph()"
                            ng-model="stylePickerCtrl.params.paragraph.fontFamily" >
                        <option ng-repeat="f in stylePickerCtrl.fonts" value="{{f.text}}">{{f.text}}</option>
                    </select>
                    <label>Taille</label>
                    <select class="form-control form-sm" ng-change="stylePickerCtrl.changeParagraph()"
                            ng-model="stylePickerCtrl.params.paragraph.fontSize" >
                        <option ng-repeat="f in stylePickerCtrl.size" value="{{f.size}}">{{f.size}}</option>
                    </select>
                </div>
            </div>
            <hr>
            <h5>Liens</h5>
            <div class="form-group" >
                <label for="linkColor">Couleur des liens</label>
                <input type="color" class="form-control" ng-change="stylePickerCtrl.changeParagraph()" id="linkColor"
                       ng-model="stylePickerCtrl.params.link.color">
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label>Police</label>
                    <select class="form-control form-sm" ng-change="stylePickerCtrl.changeParagraph()"
                            ng-model="stylePickerCtrl.params.link.fontFamily" >
                        <option ng-repeat="f in stylePickerCtrl.fonts" value="{{f.text}}">{{f.text}}</option>
                    </select>
                    <label>Taille</label>
                    <select class="form-control form-sm"
                            ng-change="stylePickerCtrl.changeParagraph()"
                            ng-model="stylePickerCtrl.params.link.fontSize">
                        <option ng-repeat="f in stylePickerCtrl.size" value="{{f.size}}">{{f.size}}</option>
                    </select>
                </div>
            </div>
        </form>
    </accordion-group>
    <accordion-group heading="Images" ng-show="stylePickerCtrl.block.type === 'double' || stylePickerCtrl.block.type === 'file'">
        <h5>Images</h5>
        <div class="form-group">
            <label>Marges (Déplacer le bouton)</label>
            <position-btn on-change="stylePickerCtrl.onImgPosChanged"></position-btn>
        </div>
        <div class="from-group">
            <label for="taille">Taille</label>
            <input type="number"
                   ng-change="stylePickerCtrl.changeImage()"
                   class="form-control form-sm"
                   id="taille"
                   ng-model="stylePickerCtrl.params.layout.images.width" />
        </div>
    </accordion-group>
</accordion>
