<div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 main">
    <div class="row" id="createNews">
        <tabset>
            <tab heading="Modèles drag'n'drop">
                <div class="col-sm-6 col-md-4 col-lg-3 marginBottom placeholders">
                    <div class="createNewsTemp" ng-class="{'active': templates.emptyModel}">
                        <html-to-img html="<body style='background:#FFF;'></body>"></html-to-img>
                        <br>Modèle vierge<br>
                        <a class="btn btn-bob" ng-click="templates.select(emptyModel)">Choisir</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 marginBottom placeholders" ng-repeat="template in templates.availableTemplates">
                    <div class="createNewsTemp" ng-class="{'active': templates.selected.id === template.id}">
                        <html-to-img html="test"></html-to-img>
                        <br>{{ template.name }}<br>
                        <a class="btn btn-bob" ng-click="templates.select(template)">Choisir</a>
                    </div>
                </div>
            </tab>
            <tab heading="Newsletter précédentes">

            </tab>
            <tab heading="Créer en HTML">
                <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
            </tab>
        </tabset>
        <div class="col-sm-12 col-lg-12 contactCont placeholder">
            <p ng-show="templates.selected">
                Vous avez sélectionné {{ templates.selected.name }}
                <button class="btn btn-default btn-sm" ng-click="templates.selected = null">Déselectionner</button>
            </p>
            <button type="submit" ng-click="templates.launchEditor()" class="btn btn-default btn-bb btn-full">
                <span class="glyphicon glyphicon-arrow-right"></span>
                Passer à la composition <span ng-show="templates.selected">à partir du template {{ templates.selected.name }}</span>
            </button>
        </div>
    </div>
</div>